In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import torch
torch.cuda.empty_cache()

In [6]:
from sklearn.model_selection import KFold
from datasets import load_dataset, DatasetDict, Dataset, concatenate_datasets
import datasets
import pandas as pd
import os
import logging
import nltk
import numpy as np
from transformers import Seq2SeqTrainingArguments, Seq2SeqTrainer, DataCollatorForSeq2Seq
import evaluate
from transformers import BartForConditionalGeneration, BartTokenizer
from random import sample


train_df = datasets.load_from_disk("/home/y.khan/cai6307-y.khan/Query-Focused-Tabular-Summarization/data/decomposed/decomposed_train")
test_df = datasets.load_from_disk("/home/y.khan/cai6307-y.khan/Query-Focused-Tabular-Summarization/data/decomposed/decomposed_test")
validate_df = datasets.load_from_disk("/home/y.khan/cai6307-y.khan/Query-Focused-Tabular-Summarization/data/decomposed/decomposed_validate")

In [4]:
model_path = "facebook/bart-large"
tokenizer = AutoTokenizer.from_pretrained(model_path)

model = AutoModelForSeq2SeqLM.from_pretrained(model_path)

In [28]:
from typing import List, Dict

def tokenization_with_answer(examples):
    inputs = []
    targets = []
    
    task_prefix = "Given a query and a table, generate a summary that answers the query based on the information in the table: "

    for i, (query, table, answer, coordinates, summary) in enumerate(zip(examples['query'], examples['table'], examples['answers'], examples['coordinates'], examples['summary'])):
        flattened_table = flatten_table(table, i)
        input_text = f"{task_prefix} Table {flattened_table}. Query: {query}"

        inputs.append(input_text)
        targets.append(summary)
        
    model_inputs = tokenizer(inputs, max_length=1024, truncation=True,padding='max_length')
    with tokenizer.as_target_tokenizer():
        labels = tokenizer(examples["summary"], max_length=512, truncation=True)
    
    model_inputs["labels"] = labels["input_ids"] 

    res = tokenizer(inputs, text_target=targets, truncation=True, padding=True)
    return model_inputs

def flatten_table(table: Dict, row_index: int) -> str:
    header = table.get('header', [])
    rows = table.get('rows', [])
    title = table.get('title', [])

    flattened_rows = []
    for i, row in enumerate(rows):
        row_text = f"Row {i}, " + ",".join([f"{col}:{val}" for col, val in zip(header, row)])
        flattened_rows.append("## "+row_text)

    flattened_table = f"Title: {' '.join(map(str, title))}" + " " + " ".join(flattened_rows)
    return flattened_table

tokenized_dataset_train = train_df.map(tokenization_with_answer, batched=True)
tokenized_dataset_test = test_df.map(tokenization_with_answer, batched=True)

processed_data_train = tokenized_dataset_train.remove_columns(['table','summary', 'row_ids', 'example_id', 'query', 'answers', 'coordinates'])
processed_data_test = tokenized_dataset_test.remove_columns(['table','summary', 'row_ids', 'example_id', 'query', 'answers', 'coordinates'])

Map: 100%|██████████| 2000/2000 [00:09<00:00, 213.09 examples/s]
Map: 100%|██████████| 500/500 [00:02<00:00, 240.32 examples/s]

In [29]:
def k_fold_split(dataset, num_folds=5):
    fold_size = len(dataset) // num_folds
    folds = []
    for i in range(num_folds):
        start = i * fold_size
        end = start + fold_size if i < num_folds - 1 else len(dataset)
        folds.append(dataset.select(range(start, end)))
    return folds

In [30]:
def postprocess_text(preds, labels):
        preds = [pred.strip() for pred in preds]
        labels = [label.strip() for label in labels]

        # rougeLSum expects newline after each sentence
        preds = ["\n".join(nltk.sent_tokenize(pred)) for pred in preds]
        labels = ["\n".join(nltk.sent_tokenize(label)) for label in labels]

        return preds, labels

def metric_fn(eval_predictions):
    predictions, labels = eval_predictions
    decoded_predictions = tokenizer.batch_decode(predictions, skip_special_tokens=True)
    for label in labels:
        label[label < 0] = tokenizer.pad_token_id  # Replace masked label tokens
    decoded_labels = tokenizer.batch_decode(labels, skip_special_tokens=True)
    
    decoded_predictions, decoded_labels = postprocess_text(decoded_predictions, decoded_labels)

    rouge = evaluate.load('rouge')

    # Compute ROUGE scores
    rouge_results = rouge.compute(predictions=decoded_predictions, references=decoded_labels)

    return rouge_results

data_collator = DataCollatorForSeq2Seq(tokenizer=tokenizer, model= model)

train_args = Seq2SeqTrainingArguments(
    output_dir="./train_weights_bart_decomposed",
    learning_rate=3e-5,
    per_device_train_batch_size=8,
    per_device_eval_batch_size=4,
    num_train_epochs=20,
    evaluation_strategy="epoch",
    save_strategy = "epoch",
    weight_decay=0.01,
    save_total_limit=5,
    warmup_ratio=0.03,
    load_best_model_at_end=True,
    predict_with_generate=True,
    overwrite_output_dir= True,
    gradient_accumulation_steps = 2
)


trainer = Seq2SeqTrainer(
    model,
    train_args,
    train_dataset=processed_data_train,
    eval_dataset=processed_data_test,
    tokenizer=tokenizer,
    data_collator=data_collator,
    compute_metrics=metric_fn
)

In [10]:
folds = k_fold_split(train_df, num_folds=10)

for i in range(len(folds)):
    val_fold = folds[i]
    train_folds = [folds[j] for j in range(len(folds)) if j != i]
    train_dataset = concatenate_datasets(train_folds)

    tokenized_train = train_dataset.map(tokenization_with_answer, batched=True)
    tokenized_val = val_fold.map(tokenization_with_answer, batched=True)

    # Remove unnecessary columns
    processed_train = tokenized_train.remove_columns(['table', 'summary', 'row_ids', 'example_id', 'query', 'answers', 'coordinates'])
    processed_val = tokenized_val.remove_columns(['table', 'summary', 'row_ids', 'example_id', 'query', 'answers', 'coordinates'])

    # Update your trainer's train_dataset and eval_dataset
    trainer.train_dataset = processed_train
    trainer.eval_dataset = processed_val

    # Train your model
    trainer.train()
    trainer.evaluate()

Downloading builder script: 100%|██████████| 6.27k/6.27k [00:00<00:00, 21.8MB/s]

Map: 100%|██████████| 1800/1800 [00:13<00:00, 134.93 examples/s]
Map: 100%|██████████| 200/200 [00:00<00:00, 411.28 examples/s]

Map: 100%|██████████| 1800/1800 [00:04<00:00, 427.80 examples/s]
Map: 100%|██████████| 200/200 [00:00<00:00, 417.10 examples/s]

Map: 100%|██████████| 1800/1800 [00:04<00:00, 422.56 examples/s]
Map: 100%|██████████| 200/200 [00:00<00:00, 412.09 examples/s]

Map: 100%|██████████| 1800/1800 [00:08<00:00, 212.22 examples/s]
Map: 100%|██████████| 200/200 [00:00<00:00, 376.07 examples/s]

Map: 100%|██████████| 1800/1800 [00:05<00:00, 324.95 examples/s]
Map: 100%|██████████| 200/200 [00:00<00:00, 431.59 examples/s]

Map: 100%|██████████| 1800/1800 [00:10<00:00, 170.84 examples/s]
Map: 100%|██████████| 200/200 [00:00<00:00, 408.49 examples/s]

Map: 100%|██████████| 1800/1800 [00:05<00:00, 328.24 examples/s]
Map: 100%|██████████| 200/200 [00:00<00:00, 416.67 examples/s]

Map: 100%|██████████| 1800/1800 [00:04<00:00, 409.70 examples/s]
Map: 100%|██████████| 200/200 [00:00<00:00, 421.83 examples/s]

Map: 100%|██████████| 1800/1800 [00:05<00:00, 305.91 examples/s]
Map: 100%|██████████| 200/200 [00:00<00:00, 413.77 examples/s]

In [11]:
model.save_pretrained("BART-decomposed")
tokenizer.save_pretrained("BART-decomposed")

('BART-decomposed-large/tokenizer_config.json',
 'BART-decomposed-large/special_tokens_map.json',
 'BART-decomposed-large/vocab.json',
 'BART-decomposed-large/merges.txt',
 'BART-decomposed-large/added_tokens.json',
 'BART-decomposed-large/tokenizer.json')

In [ ]:
#### Predictions

In [38]:
import warnings
import torch
warnings.filterwarnings('ignore')
torch.cuda.empty_cache()

In [39]:
from sklearn.model_selection import KFold
from datasets import load_dataset, DatasetDict, Dataset, concatenate_datasets
import datasets
import pandas as pd
import os
import logging
import nltk
import numpy as np
from transformers import Seq2SeqTrainingArguments, Seq2SeqTrainer, DataCollatorForSeq2Seq
import evaluate
from transformers import BartForConditionalGeneration, BartTokenizer
from random import sample


train_df = datasets.load_from_disk("/home/y.khan/cai6307-y.khan/Query-Focused-Tabular-Summarization/data/decomposed/decomposed_train")
test_df = datasets.load_from_disk("/home/y.khan/cai6307-y.khan/Query-Focused-Tabular-Summarization/data/decomposed/decomposed_test")
validate_df = datasets.load_from_disk("/home/y.khan/cai6307-y.khan/Query-Focused-Tabular-Summarization/data/decomposed/decomposed_validate")

In [40]:
model_path = "/home/y.khan/cai6307-y.khan/Query-Focused-Tabular-Summarization/models/saved_model/bart-decomposed"
tokenizer = BartTokenizer.from_pretrained(model_path)
model = BartForConditionalGeneration.from_pretrained(model_path)

In [41]:
from typing import List, Dict

def tokenization_with_answer(examples):
    inputs = []
    targets = []
    
    task_prefix = "Given a query and a table, generate a summary that answers the query based on the information in the table: "

    for i, (query, table, answer, coordinates, summary) in enumerate(zip(examples['query'], examples['table'], examples['answers'], examples['coordinates'], examples['summary'])):
        flattened_table = flatten_table(table, i)
        input_text = f"{task_prefix} Table {flattened_table}. Query: {query}"

        inputs.append(input_text)
        targets.append(summary)
        
    model_inputs = tokenizer(inputs, max_length=1024, truncation=True,padding='max_length')
    with tokenizer.as_target_tokenizer():
        labels = tokenizer(examples["summary"], max_length=512, truncation=True)
    
    model_inputs["labels"] = labels["input_ids"] 

    res = tokenizer(inputs, text_target=targets, truncation=True, padding=True)
    return model_inputs

def flatten_table(table: Dict, row_index: int) -> str:
    header = table.get('header', [])
    rows = table.get('rows', [])
    title = table.get('title', [])

    flattened_rows = []
    for i, row in enumerate(rows):
        row_text = f"Row {i}, " + ",".join([f"{col}:{val}" for col, val in zip(header, row)])
        flattened_rows.append("## "+row_text)

    flattened_table = f"Title: {' '.join(map(str, title))}" + " " + " ".join(flattened_rows)
    return flattened_table

tokenized_dataset_train = train_df.map(tokenization_with_answer, batched=True)
tokenized_dataset_test = test_df.map(tokenization_with_answer, batched=True)

processed_data_train = tokenized_dataset_train.remove_columns(['table','summary', 'row_ids', 'example_id', 'query', 'answers', 'coordinates'])
processed_data_test = tokenized_dataset_test.remove_columns(['table','summary', 'row_ids', 'example_id', 'query', 'answers', 'coordinates'])

def postprocess_text(preds, labels):
        preds = [pred.strip() for pred in preds]
        labels = [label.strip() for label in labels]

        # rougeLSum expects newline after each sentence
        preds = ["\n".join(nltk.sent_tokenize(pred)) for pred in preds]
        labels = ["\n".join(nltk.sent_tokenize(label)) for label in labels]

        return preds, labels

def metric_fn(eval_predictions):
    predictions, labels = eval_predictions
    decoded_predictions = tokenizer.batch_decode(predictions, skip_special_tokens=True)
    for label in labels:
        label[label < 0] = tokenizer.pad_token_id  # Replace masked label tokens
    decoded_labels = tokenizer.batch_decode(labels, skip_special_tokens=True)
    
    decoded_predictions, decoded_labels = postprocess_text(decoded_predictions, decoded_labels)

    rouge = evaluate.load('rouge')

    # Compute ROUGE scores
    rouge_results = rouge.compute(predictions=decoded_predictions, references=decoded_labels)

    return rouge_results

data_collator = DataCollatorForSeq2Seq(tokenizer=tokenizer, model= model)

train_args = Seq2SeqTrainingArguments(
    output_dir="./train_weights_bart_decomposed",
    learning_rate=3e-5,
    per_device_train_batch_size=8,
    per_device_eval_batch_size=4,
    num_train_epochs=20,
    evaluation_strategy="epoch",
    save_strategy = "epoch",
    weight_decay=0.01,
    save_total_limit=5,
    warmup_ratio=0.03,
    load_best_model_at_end=True,
    predict_with_generate=True,
    overwrite_output_dir= True,
    gradient_accumulation_steps = 2
)


trainer = Seq2SeqTrainer(
    model,
    train_args,
    train_dataset=processed_data_train,
    eval_dataset=processed_data_test,
    tokenizer=tokenizer,
    data_collator=data_collator,
    compute_metrics=metric_fn
)

Map: 100%|██████████| 2000/2000 [00:09<00:00, 207.31 examples/s]
Map: 100%|██████████| 500/500 [00:02<00:00, 236.72 examples/s]

In [42]:
validate_df_size = len(validate_df)
step_size = 3
num_batches = validate_df_size // step_size

valid = []

for i in range(num_batches):
    start_index = i * step_size
    end_index = (i + 1) * step_size
    valid.append(validate_df.select(range(start_index, end_index)))

# If there are remaining data points that don't fit into full batches of size 3
if validate_df_size % step_size != 0:
    remaining_data = validate_df_size % step_size
    valid.append(validate_df.select(range(validate_df_size - remaining_data, validate_df_size)))

In [43]:
import numpy as np
rougeL = []
bert = []
bertscore = evaluate.load("bertscore")

for i in range(len(valid)):
    validate_df = valid[i].map(tokenization_with_answer, batched=True)
    predict_results = trainer.predict(validate_df, max_length = 1024)
    metrics = predict_results.metrics
    predictions = tokenizer.batch_decode(predict_results.predictions, skip_special_tokens=True, clean_up_tokenization_spaces=True)
    predictions = [pred.strip() for pred in predictions]
    
    bert_score = bertscore.compute(predictions=predictions, references=valid[i]['summary'], lang = "en")
    rougeL.append(metrics['test_rougeLsum'])
    bert.append(np.mean(bert_score['f1']))

sum(rougeL)/len(rougeL), sum(bert)/len(bert)

Map: 100%|██████████| 3/3 [00:00<00:00, 130.16 examples/s]

Some weights of RobertaModel were not initialized from the model checkpoint at roberta-large and are newly initialized: ['roberta.pooler.dense.weight', 'roberta.pooler.dense.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.
Map: 100%|██████████| 3/3 [00:00<00:00, 98.00 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 166.15 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 125.45 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 169.81 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 68.18 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 121.25 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 77.10 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 125.26 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 141.32 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 92.52 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 76.76 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 91.14 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 129.11 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 157.54 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 155.58 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 158.07 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 91.26 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 149.69 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 66.54 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 69.58 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 73.68 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 82.21 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 188.81 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 114.94 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 110.71 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 115.42 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 28.26 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 72.04 examples/s]

Map: 100%|██████████| 3/3 [00:01<00:00,  2.24 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 67.22 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 79.92 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 66.80 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 74.02 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 70.25 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 93.93 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 80.04 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 65.06 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 100.21 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 87.32 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 99.74 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 93.92 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 76.09 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 73.58 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 71.68 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 66.68 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 80.91 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 51.58 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 98.53 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 80.86 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 87.23 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 79.48 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 76.14 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 90.85 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 67.45 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 75.29 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 102.54 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 71.98 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 81.56 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 85.72 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 91.44 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 57.16 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 70.19 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 80.62 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 89.36 examples/s]

Map: 100%|██████████| 3/3 [00:00<00:00, 73.31 examples/s]

Map: 100%|██████████| 2/2 [00:00<00:00, 54.46 examples/s]

(0.4153478758111462, 0.8964134411728795)

In [ ]:
#### Example

In [64]:
rougeL

[0.45078147002769864,
 0.4351106427818756,
 0.37665967854647103,
 0.3851103788647161,
 0.31119719109937727,
 0.46369415990894874,
 0.4362706293679158,
 0.4378325123152709,
 0.3879378000320138,
 0.3811747283799507,
 0.39663844029482226,
 0.3800516559026628,
 0.5059316472310567,
 0.45227584010192706,
 0.5223989084146478,
 0.3913086419753086,
 0.4876512105780399,
 0.46204170897445906,
 0.33460269896265776,
 0.2694933561588,
 0.3730994152046783,
 0.4457557317597886,
 0.39991120197420726,
 0.4786450238277827,
 0.4863509321981083,
 0.357163565359385,
 0.5571059431524549,
 0.5014298457790816,
 0.4504016139571471,
 0.330868544600939,
 0.38143618833274,
 0.3568990853201379,
 0.436373174206528,
 0.35056295807178817,
 0.30633230888007956,
 0.41498240321769736,
 0.4956691449101429,
 0.41173069411681484,
 0.40507708070803544,
 0.39611480809302946,
 0.6183053723629911,
 0.48314606741573035,
 0.48514030980868156,
 0.395593220338983,
 0.2720991168124571,
 0.374791418543702,
 0.4030409356725146,
 0.44375718974864126,
 0.35337321369225655,
 0.38894438894438893,
 0.40793060718711277,
 0.26011142103579415,
 0.3624706181309955,
 0.4284133641790373,
 0.4939939939939941,
 0.5324872530387474,
 0.44523048617924427,
 0.32062313022577926,
 0.3104032998769841,
 0.4178220168266382,
 0.3604094984160702,
 0.43939577260811385,
 0.40976763028045077,
 0.507347670250896,
 0.5805022506515044,
 0.3450764985214018,
 0.38405797101449274]

In [95]:
np.argmax(rougeL)

40

In [129]:
validate_df = valid[16].map(tokenization_with_answer, batched=True)
predict_results = trainer.predict(validate_df, max_length = 1024)

predictions = tokenizer.batch_decode(predict_results.predictions, skip_special_tokens=True, clean_up_tokenization_spaces=True)
predictions = [pred.strip() for pred in predictions]
predictions

['The yearly trend in the total number of acres affected by the wildfires in California based on the start dates and the acreage of each listed fire shows a general upward trend. The most big fire, Mendocino Complex fire, which started in July 2018, has the most acres affected with 459,123 acres, while the most small fire, Camp fire, started in August 1987, only has 140,948 acres. Other fires, like Butte fire, Ventura fire, and Colusa fire, have smaller acreage ranging from 177,866 acres to 281,893 acres.',
 'In Columbo\'s fourth season, the episodes in order are "An Exercise in Fatality," "Negative Reaction," "By Dawn\'s Early Light," "Troubled Waters," "Playback," and "A Deadly State of Mind." The episodes have corresponding titles, murderers, and victims. The episodes show Robert Conrad, Dick Van Dyke, Patrick McGoohan, Tom Simcox, and Poupée Bocar as the murderers. The victims are Antonette Bower, Don Gordon, Stephen Elliott, and Lesley Ann Warren.',
 'The Utah Jazz have had two players who played for the Utah Jazz and attended Byu: Andy Toolson and Jamaal Tinsley. Toolson played with the team from 1990-91 and 1995-96, while Tinsly played from 2011-present for Iowa State.']

In [130]:
validate_df['summary']

['There are not enough datas to make a sure conclusion about yearly trend of total acres affected by wildfires in California. As this table only has biggest wildfires and not all fires in state, it cannot show the full trend of every year. However, we can see that some more new fires, like Mendocino Complex in 2018 and Thomas Fire in 2017, have very big acreage. This may show that there is a going up trend in how bad wildfires are in recent years.',
 'In fourth season of Columbo, first episode is "An Exercise in Fatality" on September 15, 1974. Have murderer Robert Conrad and victim Philip Bruns. Second episode is "Negative Reaction" on October 6, 1974. Have Dick Van Dyke as murderer and Antoinette Bower and Don Gordon as victims. Other episodes in order are: "By Dawn\'s Early Light" with Patrick McGoohan as murderer and Tom Simcox as victim, "Troubled Waters" have Robert Vaughn as murderer and Poupée Bocar as victim, "Playback" with Oskar Werner as murderer and Martha Scott as victim, and last "A Deadly State of Mind" have George Hamilton as murderer and Stephen Elliott and Lesley Ann Warren as victims.',
 'The players who attended Byu and played for the Utah Jazz are Andy Toolson. Toolson first played for the Jazz from 1990-91 and then again from 1995-96. He was a guard and forward and had the jersey number 5.']

In [1]:
import pandas as pd
def to_pandas(item):
  return pd.DataFrame(item['table']["rows"],columns=item['table']["header"])

to_pandas(valid[21][2])

NameError: name 'valid' is not defined

In [132]:
valid[16][2]['example_id']

'1ae05e92-4ca6-483d-9307-488d28b0b31b'

In [69]:
### Evaluation

In [7]:
model_path = "/home/y.khan/cai6307-y.khan/Query-Focused-Tabular-Summarization/models/saved_model/bart-decomposed"
model = BartForConditionalGeneration.from_pretrained(model_path)
tokenizer = BartTokenizer.from_pretrained(model_path)

In [24]:
from typing import List, Dict

def flatten_table(table: Dict) -> str:
    header = table.get('header', [])
    rows = table.get('rows', [])
    title = table.get('title', [])

    flattened_rows = []
    for i, row in enumerate(rows):
        row_text = f"Row {i}, " + ",".join([f"{col}:{val}" for col, val in zip(header, row)])
        flattened_rows.append("## "+row_text)

    flattened_table = f"Title: {' '.join(map(str, title))}" + " " + " ".join(flattened_rows)
    return flattened_table

def generate_predictions(dataset):
    generated_texts = []
    task_prefix = "Given a query and a table, generate a summary that answers the query based on the information in the table: "
    for example in dataset:
        table = example['table']
        query = example['query']
        flattened_table = flatten_table(table)
        input_text = f"{task_prefix} Table {flattened_table}. Query: {query}"
        model_input = tokenizer(input_text, max_length=1024, truncation=True, padding='max_length', return_tensors='pt')
        output_sequences = model.generate(**model_input, min_length = 512)
        generated_text = tokenizer.batch_decode(output_sequences, skip_special_tokens=True)
        generated_texts.append(generated_text)

    return generated_texts

In [25]:
validate_df = datasets.load_from_disk("/home/y.khan/cai6307-y.khan/Query-Focused-Tabular-Summarization/data/decomposed/decomposed_validate")
validate_df = validate_df.shuffle().select(range(10))
predictions = generate_predictions(validate_df)

In [26]:
predictions

[['The trend in UK viewership for Series 2 of Torchwood episodes based on the UK viewers'],
 ['George Harrison\'s "My Sweet Lord" was released in 1970, and it'],
 ['China has the strongest overall power in the 2008 Summer Olympics. This can be seen from'],
 ['The top three deadliest storms according to the provided data are Haiyan (Yolanda'],
 ['Emilia Attías act in two films in 2016. These movies name'],
 ['Robin Frijns had one of his best performances in the Formula Renault 3.5'],
 ['The best performances in terms of batting average (minimum 80 at bats - ab)'],
 ['The Lynx constellation is home to three objects: a spiral galaxy, an'],
 ['Between 1994 and 2018, an athlete from the sport of Alpine skiing has been chosen as'],
 ['Inkster had shortest membership time in Western Wayne Athletic Conference, join in 2013']]

In [27]:
validate_df['summary']

['The trend in UK watch of Torchwood Series 2of episodes change many times in the series, but can see it have a little down in all watch. The series start very good with 4.22 million people watch first episode, named "Kiss Kiss, Bang Bang," have director Ashley Way. The watch people get most at 4.32 million for number seven episode, called "Dead Man Walking," have director Andy Goddard. But after this, the watch number go down slowly and  get low at 3.13 million for final episode, with name "Exit Wounds," and director Ashley Way again. So at last, even there are some up and down of watch people in series, the all trend show a down from start to the end of Series 2.',
 'George Harrison\'s "My Sweet Lord," released in 1970, sold 10 million copies. Other singles from the 1970s, such as Gloria Gaynor\'s "I Will Survive" and Village People\'s "Y.M.C.A.", both released in 1978, managed to sell more copies at 14 million and 12 million respectively. However, Harrison\'s sales performance is still on par with other notable singles from the same decade, such as ABBA\'s "Fernando" in 1976 and Middle of the Road\'s "Chirpy Chirpy Cheep Cheep" in 1971, which both sold 10 million copies. Overall, while George Harrison\'s "My Sweet Lord" wasn\'t the highest-selling single of the 1970s, its sales were still impressive and comparable to other popular songs from the same era.',
 "China has the strongest overall power with a team total of 374.675 points. They had the highest scores in Floor, Vault, and Team Total, which all contributed to their overall performance. This was followed closely by Japan with 369.55 points, Russia with 366.225 points, South Korea with 365.675 points, Germany with 365.675 points, United States with 365.2 points, France with 361.2 points, and Romania with 359.35 points respectively. China's impressive results in Floor and Vault demonstrate their strong overall power.",
 'As per given data, the most three deadly storms was "Haiphong" on 1881, Haiyan (Yolanda) on 2013, and Thelma (Uring) on 1991. These storms make 20,000, 6,300, and estimated 5,101-8,000 people die in each one.',
 'Emilia Attías acted in two films released in 2016, which are "Dolores" and "El muerto cuenta su historia."',
 'Robin Frijns had his best performances in the Formula Renault 3.5 Series, competing for Fortec Motorsport in 2012. During this season, he raced a total of 17 times, winning three races and recording four pole positions, resulting in eight podiums and 189 points overall. He managed to win this series, taking home first place at the end of the year.',
 'The Forest City Owls, they have some good perform in batting average in years. The best perform is in 2015 by Spencer Henderson, who get great batting average of .398; but team no go playoffs that year. Second-best perform in batting average is in 2009 by Konstantine Diamaduros, with average of .376, which helps team to win League Championship that year. In 2012, Alex Close also help team with batting average of .329, but team only go to first round playoffs and then lose. Steven Pallares is good too in 2014 with batting average .326, but team lose in first round. Finally, Kevin Mailloux play 2008 with batting average of .328 but team not go to playoffs.',
 'The Lynx constellation is home to several objects, including three galaxies. Two of these galaxies are spiral galaxies, Ngc 2770 and Ngc 2798, while the third is an irregular galaxy, Ngc 2799. All three galaxies can be found within the Right Ascension of 09H09 M33.7S to 09H17 M31.2S and the Declination of Degree07\'25" to Degree59\'36".',
 "In 1994, during the Lillehammer Winter Olympics, athlete Arsen Harutyunyan was chosen as the flag bearer for Armenia. This marked the first time an Alpine skier carried the flag for the country at the Olympics.  During the 2002 Winter Olympics in Salt Lake City, Arsen Nersisyan, an Alpine skier, was selected as Armenia's flag bearer in the opening ceremony.  Arsen Nersisyan was once again chosen as the flag bearer for Armenia in the 2010 Vancouver Winter Olympics, making it the third time an Alpine skier represented the country in this role.",
 'Inkster High School had the shortest membership duration in the Western Wayne Athletic Conference, joining in 2013 and leaving the same year. The circumstances surrounding its exit were due to the school being shut down, with no successive conference affiliation.']

In [75]:
validate_df = datasets.load_from_disk("/home/y.khan/cai6307-y.khan/Query-Focused-Tabular-Summarization/data/decomposed/decomposed_validate")
validate_df['summary']

["The 2008 - 09 Connecticut Huskies Women's Basketball Team had three players who scored more than 600 points: Maya Moore, Renee Montgomery and Tina Charles. Maya Moore scored 754 points, playing a total of 1209 minutes. She had 284 field goals, 90 three pointers, and 96 free throws. Montgomery Renee Montgomery scored 644 points in 1237 minutes, compiling 226 field goals, 99 three point shots and 93 free throws. Tina Charles scored 642 points in 982 minutes, with 259 field goals and 124 free throws.",
 'Swiss Locomotive and Machine Works built a Mountain Railway Rack Steam Locomotive with an slm number of 988 in 1896. It has a wheel arrangement of 0 - 4 - 2 T, and is located on the Snowdon Mountain Railway. Its name is Snowdon.',
 'The trend of number turbines installed per project in Maine from 2006 to 2017 seem to fluctuate, no consistent increase or decrease over time. Some years have installation of big projects with more number of turbines, like Kibby Mountain in 2010 and Bingham Wind Farm in 2016, while other years have projects with less number of turbines, like Beaver Ridge in 2008 and Pisgah Mountain in 2016.',
 'The Open Clusters located in the Columba constellation are NGC 2090. It is a spiral galaxy located . Its‘ right ascension ( J2000 ) was 05H47 M02.3S and Declination (J2000) was Degree15′05″.',
 'The artists of the tracks with a BPM of 140 or higher in Dancemania 8 are based in Germany, United Kingdom,Hungary,Croatia/Italy and Switzerland.',
 'Jennifer Lawrence 20 years, 163 days old when she get nominated for Academy Award for "Winter\'s Bone". This nomination happened in January 25, 2011.',
 'There are 1 object present in the Cancer constellation, which is a Spiral Galaxy (NGC 2775). This galaxy is located at Right Ascension (J2000) 09H10M20.1S and Declination (J2000) Degree02\'18".',
 'The first game between Bermuda and West Indies happened on 23 April. In this game, Bermuda batted first and scored 5 runs for 174, while West Indies batted second and only managed to score 8 runs for 116 in 20 overs, resulting in a 58-run win for Bermuda.',
 'Leigh Adams show gradual better in his position at Speedway Grand Prix from 1996 to 2008. In early year, he at middle position, like 15th, 10th, and 11th in 1996, 1997, and 1998. But his performance better in early 2000s with position around 4th to 7th. In 2007, Adams at his best position is 2nd with 153 points, win three Grand Prix that year.',
 'In summary, between 1994 and 2018, the flag bearers for Armenia at the Winter Olympics represented the following sports: 1. Alpine Skiing - 3 times 2. Cross-country Skiing - 3 times 3. Figure Skating - 1 time ',
 'There 13 private schools and 15 public schools in Maine. The private schools in 2016 have total enroll 19,978 students, but public schools have more high total enroll 60,880 students. So, public schools have more big total enroll in 2016 than private schools.',
 'The Edenton District Brigade, it was operating for seven years, from 1776 to 1783. The first commander is Edward Vail, he was serving with rank of Brigadier General.',
 'From 2003 to 2018, the trend in points awarded to the winning videos fluctuates with no clear pattern of consistent increase or decrease. While there are some years that witnessed significantly high scores, such as Russia\'s "LML" by Via Gra with 198 points in 2007, and United Kingdom\'s "Hymn For The Weekend" by Coldplay with a staggering 673 points in 2016, these are followed by relatively lower scores in subsequent years.',
 'The teams with total points between 7 and 12 in the 2009 - 10 European Challenge Cup are Bourgoin (8 points), Worcester (7 points). Bourgoin earned 3 points in 2008 - 09, 2 in 2007 - 08, 1 in 2006 - 07, and 2 in 2005 - 06. Worcester earned 2 points in 2008 - 2009, 3 in 2007 - 08, 0 in 2006 - 07 and 2 in 2005-06.',
 'Tom Cole made an average of 77.5% of his free throws, while John Oosterbaan managed to score 70.6% of his free throws. John Harris made 73.1% of his free throws, Bob Cantrell scored at 71.9%, Jon Hall had a 58.7% average, Doug Herner performed at 37.9%, and Bob Brown made 30.4% of his free throws in the 1961-62 season.',
 'Doug Lewis participated in two Downhill competitions during the 1987 season. On February 28th, he placed 7th in Furano, Japan and on March 7th, he finished 9th in Aspen, Co, USA.',
 "On July 07, 2007, three matches were played in the 2007 FIVB Volleyball Men's U21 World Championship. The first match saw a score of 0 - 3 with sets of 19 - 25, 17 - 25, and 12 -25 for a total of 48 - 75. The second match had a score of 3 - 0 with sets of 27 - 25, 25 – 16, and 25 – 17 for a total of 77 – 58. The third match ended in 1 - 3 with sets of 23 – 25, 16 – 25, and 25 – 22 for a total 81 – 97.",
 'The trend in UK watch of Torchwood Series 2of episodes change many times in the series, but can see it have a little down in all watch. The series start very good with 4.22 million people watch first episode, named "Kiss Kiss, Bang Bang," have director Ashley Way. The watch people get most at 4.32 million for number seven episode, called "Dead Man Walking," have director Andy Goddard. But after this, the watch number go down slowly and  get low at 3.13 million for final episode, with name "Exit Wounds," and director Ashley Way again. So at last, even there are some up and down of watch people in series, the all trend show a down from start to the end of Series 2.',
 'From the data provided between 1984 and 1996, age does not seem to significantly impact the ability of a cyclist to set the hour record. Riders ranging from 24 to 33 years have achieved impressive distances, with a majority of the riders in their late 20s and early 30s. In fact, Tony Rominger set two records at the age of 33, riding the farthest distance of 55.291 km. Overall, the variation in distances achieved appears to be more influenced by equipment advancements and individual skill than the age of the riders.',
 'The episode of Dynamo: Magician Impossible that had the most viewers was 2.01 which aired on July 5th, 2012. This episode had 1,927,000 viewers and was the first episode of the second season.',
 "There were a total of six players from the 2008-09 North Carolina Tar Heels Men's Basketball Team that were drafted in the NBA. These players included Tyler Hansbrough (13th overall pick in 2009 to the Indiana Pacers), Ty Lawson (18th overall pick in 2009 to the Denver Nuggets), Wayne Ellington (28th overall pick in 2009 to the Minnesota Timberwolves), Danny Green (46th overall pick in 2010 to the Cleveland Cavaliers), Ed Davis (13th overall pick in 2010 to the Toronto Raptors) and Tyler Zeller (17th overall pick in 2012 to the Dallas Mavericks).",
 'In 1987, Agderfly adding three models to they fleet, which are Socata Rallye, Grumman Cougar, and Bellanca Super Decathlon.',
 'Justin Rose won two tournaments between 2006 and 2007. In 2006 he won the Mastercard Masters 1 tournament with a winning score of 276 and a distance of 12 strokes under par. He had a two-stroke margin of victory over Greg Chalmers and Richard Green. The following year in 2007, he won the Volvo Masters with a score of 283, one stroke under par.',
 "In the 1996 race for New York's 25th district, incumbent Republican Jim Walsh was successfully reelected to the House of Representatives, obtaining 55.11% of the votes in a close race against Democratic candidate Marty Mack, who received 44.89%. Jim Walsh had first been elected to this position back in 1988.",
 'The trend of watching during Season 3 of American Horror Story: Coven looks not stable, with less people watching in first few episodes, then sometimes more people watching in later episodes. The season begin with episode "Bitchcraft," which has 5.54 million people watching, the most people watching in this season. After first episode, people watching go down, with episodes 2 to 4 have people watching less than 4 million. But from episode 6, "The Axeman Cometh," people watching start to go up again, has 4.16 million people watching. The last episode, "The Seven Wonders," has more people watching, 4.24 million, but still not as high as first episode.',
 "In the 2011 NFL regular season, Tom Brady's performance in terms of passing yards was quite impressive, amassing a total of 5,235 yards. While this put him among the elite quarterbacks who achieved 5,000 passing yards in a season, he did not have the highest number that year. Drew Brees of the New Orleans Saints had a standout 2011 season, throwing for a remarkable 5,476 yards, which was 241 yards more than Brady's total. Additionally, Matthew Stafford of the Detroit Lions accumulated 5,038 passing yards in 2011, although his performance was still 197 yards behind Brady's.",
 'There are two players from the Asia XI team listed in this table. Mahela Jayawardene scored 107 runs off 106 balls in the first innings against Africa XI, resulting in a win for the Asia XI team. Mahendra Singh Dhoni also contributed to the win with an unbeaten 139 runs off 97 balls, playing in the same first innings against Africa XI.',
 'The 2005 ATP Masters Series included two tournaments played on Carpet (I) surfaces: Paris and Shanghai (TMC). At the Paris tournament, Tomas Berdych defeated Ivan Ljubičić in a five-set match to win the championship On October 31, while Andy Roddick and Radek Štěpánek were semifinalists. At the Shanghai tournament, David Nalbandian defeated Roger Federer in a five set match with a tiebreaker. Gaston Gaudio and Nikolay Davydenko were semifinalists.',
 'The top three countries with highest increase in percent of foreign students from 2017 to 2018 be Canada, with 18.78% increase, then Australia with 13.52%, and Spain have 15.33% increase. The top send countries for Canada be China, India, and South Korea, while for Australia they be China, India, and Nepal. In case of Spain, top send countries be Italy, France, and United States.',
 'Yes, Dynamo: Magician Impossible had the most viewers with 1,927,000 for episode 2.01 on July 5th, 2012. The show has consistently been the most watched show on the channel, with the rest of the episodes of Dynamo: Magician Impossible ranging from 1,193,000 to 1,826,000 viewers.',
 'A total of 9 performers had invalid throws in one or more of their attempts, and they are Paweł Fajdek, Wojciech Nowicki, Krisztián Pars, Sergej Litvinov, Mostafa Al-Gamel, Ashraf Amgad Elseify, Tuomas Seppänen, Nick Miller, and Roberto Janet.',
 'The time to withdraw for trains in table look like has order, old one withdraw first then new one. For trains made by Midland Railway between February and August 1914, their withdraw time is from June 1959 to February 1962. The first made train is first to be withdraw. Not same, trains made by Robert Stephenson & Co in 1925 have withdraw time between December 1963 and September 1964. This shows these trains, because they are new, withdraw later than those made by Midland Railway. This way tells that withdraw time has relation with make time, as old trains often took out from use before new ones.',
 'In the 1981-82 season, Detroit Pistons has home record of 23 win and 18 lost, making them middle in Central Division. Comparing, Indiana Pacers get 25 win and 16 lost at home, doing little better than Pistons in same season.',
 "Adelaide Rams' perform in 1997 season has some different when look at score of home games at Adelaide Oval and away games. When Rams play at Adelaide Oval, they win 2 games, have 1 draw, and lost 6 games, but in away games, they get 4 wins and 4 losses.",
 'The version of Souviens-Toi Du Jour included on the albums Innamoramento and Les Mots is the Album/Single Version. This version is 4 minutes and 55 seconds long, was not remixed, and released in 1999.',
 'The Toronto Maple Leafs Gift Set coin from the Royal Canadian Mint has an issue price of 24.95. It is from the 2008 series and features a theme of the Canadian hockey team, Toronto Maple Leafs. The coin does not have an artist assigned to it.',
 'Johnny Miller have highest score in fourth round (R4) with 76 score. This make effect his all finish in 1977 U.S. Open because he end tie for 27th place with total score 290. ',
 'In the season of 1986, Doug Lewis placed 2nd in the Downhill discipline at Las Leñas, Argentina on 16 August 1985, 5th in the Downhill discipline at Kitzbühel, Austria on 17 January 1986, and 8th in the Downhill discipline at Aspen, Co, Usa on 8 March 1986.',
 "In their thirteenth game on December 9th against the New England Patriots, the Buffalo Bills achieved their highest point total of the season with a win of 37-13. The Bills's defense only allowed 13 points from their opponent. This gave the Bills a record at that time of 8-5.",
 'In the 2012 season, Manor Motorsport had three drivers: Dmitry Suranovich, Fabiano Machado, and Tio Ellinas. All three drivers completed 16 races. Unfortunately, neither Suranovich nor Machado scored any points or fast laps, and they placed 23rd and 21st respectively in the driver championship. Conversely, Ellinas had more success; despite having no poles, he won one race and had three fast laps, earning 97 points which placed him 8th in the driver championship.',
 'Most frequent writer for make episodes in second series of Torchwood, from data given, is Chris Chibnall. Chibnall write four episodes, they are "Kiss Kiss, Bang Bang," "Adrift," "Fragments," and "Exit Wounds." Other writers give fewer episodes for the series.',
 'Jacques Anquetil is the cyclist who has won the most grand tours, with a total of 13. He is from France and won 6 Tours, 6 Giro, and 1 Vuelta.',
 "From result of President Ballots' Informal and Formal counts, we can know big change in candidate popular during 1856 America National Convention. Millard Fillmore get more popular, he got 139 votes in Informal count and then go up to 179 votes in Formal count. This show Fillmore can make his position strong as top one in convention. On other side, some candidates like Garrett Davis and Kenneth Rayner, their vote count go down when convention go on, this tell us they lose popular. In total, compare Informal and Formal count can show us the changing America National Convention, because candidate popular change when event go on.",
 'In episode "Negative Reaction," Dick Van Dyke do role of murderer. The victim in this special episode were Antoinette Bower and Don Gordon.',
 "In Women's 100 meter freestyle - Semifinal 1 at 2012 Summer Olympics, fastest swimmer was Melanie Schlanger with time of 53.38 seconds, while slowest swimmer was Haruka Ueda with time of 54.59 seconds. The time difference between these two swimmer was 1.21 seconds.",
 "Renaud Lavillenie (FRA) and Yelena Isinbayeva (RUS) have won the most times in the Men's and Women's Pole Vault events, respectively. Bubka achieve his top score of 6.16 meters in 2014, while Isinbayeva reach her highest mark of 5.00 meters in 2009.",
 'Robin Frijns had his best performances in the Formula Renault 3.5 Series, competing for Fortec Motorsport in 2012. During this season, he raced a total of 17 times, winning three races and recording four pole positions, resulting in eight podiums and 189 points overall. He managed to win this series, taking home first place at the end of the year.',
 "Chris Taylor had the most goals with 5 among the players from Frankfurt Lions. That was more than Jason Young's 3 goals and both had equivalent points, 13.",
 'There are not enough datas to make a sure conclusion about yearly trend of total acres affected by wildfires in California. As this table only has biggest wildfires and not all fires in state, it cannot show the full trend of every year. However, we can see that some more new fires, like Mendocino Complex in 2018 and Thomas Fire in 2017, have very big acreage. This may show that there is a going up trend in how bad wildfires are in recent years.',
 'In fourth season of Columbo, first episode is "An Exercise in Fatality" on September 15, 1974. Have murderer Robert Conrad and victim Philip Bruns. Second episode is "Negative Reaction" on October 6, 1974. Have Dick Van Dyke as murderer and Antoinette Bower and Don Gordon as victims. Other episodes in order are: "By Dawn\'s Early Light" with Patrick McGoohan as murderer and Tom Simcox as victim, "Troubled Waters" have Robert Vaughn as murderer and Poupée Bocar as victim, "Playback" with Oskar Werner as murderer and Martha Scott as victim, and last "A Deadly State of Mind" have George Hamilton as murderer and Stephen Elliott and Lesley Ann Warren as victims.',
 'The players who attended Byu and played for the Utah Jazz are Andy Toolson. Toolson first played for the Jazz from 1990-91 and then again from 1995-96. He was a guard and forward and had the jersey number 5.',
 'In the Miss World and Miss Earth pageants, controversies surrounding the use of bikinis emerged in the early years of both competitions. In the Miss World pageant, the controversy began in 1951 when Kiki Håkansson from Sweden was crowned the winner while wearing a bikini, leading to countries with strong religious traditions threatening to withdraw their delegates. This resulted in the pageant toning down its swimsuits to more modest designs in the years that followed. Similarly, in the 2003 Miss Earth competition, the participation of Vida Samadzai from Afghanistan while wearing a bikini caused an uproar in her native country due to cultural and religious concerns. Both instances highlight how the inclusion of bikinis in international pageants can lead to cultural clashes and controversies.',
 'George Harrison\'s "My Sweet Lord," released in 1970, sold 10 million copies. Other singles from the 1970s, such as Gloria Gaynor\'s "I Will Survive" and Village People\'s "Y.M.C.A.", both released in 1978, managed to sell more copies at 14 million and 12 million respectively. However, Harrison\'s sales performance is still on par with other notable singles from the same decade, such as ABBA\'s "Fernando" in 1976 and Middle of the Road\'s "Chirpy Chirpy Cheep Cheep" in 1971, which both sold 10 million copies. Overall, while George Harrison\'s "My Sweet Lord" wasn\'t the highest-selling single of the 1970s, its sales were still impressive and comparable to other popular songs from the same era.',
 'Bradley Buecker directs four episodes in season 6 of Glee. The viewer rating for these episodes is follow: "Loser Like Me" has 2.34 million viewers, "Homecoming" has 2.34 million viewers also, "A Wedding" with 1.86 million viewers, and "Dreams Come True" with 2.54 million viewers. Buecker\'s episodes get high rating compare to other episodes in this season.',
 '2007, Ryan Daut gets prize of $1,535,255. 2010, Harrison Gimbel wins and gets prize of $2,200,000, while Galen Hall gets $2,300,000 in 2011. At last, Kevin Schulz wins $1,491,580 in 2015, and Christian Harder gets winning of $429,664 in 2017.',
 'In 1995 Eurovision Song Contest, have three country sing English. Ireland get 44 point, rank 14. United Kingdom get 76 point, rank 10. Malta also get 76 point, rank 10 too.',
 'In past Civil Rights Games, St. Louis Cardinals play two games, in 2007 and 2010. In 2007, they win with score 5-1 against Cleveland Indians at AutoZone Park in Memphis, Tennessee, have 12,815 people watch. In 2010, they lose with little score, 3-4, against Cincinnati Reds at Great American Ball Park in Cincinnati, Ohio, have 41,326 people watch.',
 'Two director of Puerto Rico Office of Management and Budget have serve under Republican governor. These director were María Sánchez Bras and Juan C. Pavía.',
 'Ottawa team most victory in match from table, have 6 wins. They win match at January 8, January 15, January 21, January 28, February 11, and February 18.',
 'France won the OGAE Video Contest in 2003,2011 and 2014 with 122,96 and 141 points respectively.',